[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FisPro"]
	path = FisPro
	url = https://github.com/cran/FisPro
[submodule "GeoFIS"]
	path = GeoFIS
	url = https://github.com/cran/GeoFIS
